

.thumbnail-profile-image {
	height: 100%;
	width: 100%;
}

.dashboard-layout {
	height: 100%;
	width: 70%;
}

.row {
	margin-bottom: 30px;
}

.thumbnail-chart {
	height: 400px;
	width: 100%;
}

.well {
	background-color: white !important;
	background-image: none !important;
	border-bottom: 2px solid #85c320;
}

.profile-tab {
	padding: 0px !important;
}

.table {
	margin-bottom: 0px !important;
}

.table-responsive {
	margin-bottom: 0px !important;
}

.profile-menu-display {
	background-color: #f8f9fb !important;
	border: none !important;
}