
<div class="container text-center">    
  <div class="row">
    <div class="col-sm-3 well profile-menu-display">
      <div class="well profile-tab">
        <div class="modal-header">
          <a href class="close" ng-click="openEditProfile()"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
           <h4 class="modal-title">Profile</h4>
        </div>
        <div class="modal-body">
          <img ng-src={{user.photoURL}} class="img-circle" height="100" width="100" alt="Avatar">
          <p style="margin-top:5px ">{{user.displayName}}</p>
          <p style="margin-top:5px;word-wrap: break-word; ">{{user.email}}</p>
          
        </div>
        
      </div>
      <div class="well profile-tab">
        <div class="modal-header">
          <a href class="close" ng-click="openEditProfile()"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
          <h4>Track Weight</h4>
        </div>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr class="info">
                <td>Height</td>
                <td>5ft 9in</td>
              </tr>      
              <tr class="success">
                <td>Weight</td>
                <td>92 kg</td>
              </tr>
              <tr class="danger">
                <td>BMI</td>
                <td>27.5</td>
              </tr>
            </tbody>  
          </table>
        </div>
        <div class="modal-footer">
          <a href="" class="modal-title">View Details</a>
        </div>
      </div>

      <div class="well profile-tab">
        <div class="modal-header">
          <a href class="close" ng-click="openEditProfile()"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
          <h4>Blood Pressure</h4>          
        </div>
          <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr class="info">
                <td>Systolic</td>
                <td>120</td>
              </tr>      
              <tr class="success">
                <td>Diastolic</td>
                <td>80</td>
              </tr>
            </tbody>  
          </table>
        </div>
        <div class="modal-footer">
          <a href="">View Details</a>
        </div>
      </div>

      <div class="well profile-tab">
        <div class="modal-header">
          <a href class="close" data-dismiss="alert" aria-label="close"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
          <h4>Medications</h4>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead >
              <th class="text-center">
                Name
              </th>
              <th class="text-center">
                Frequency
              </th>
            </thead>
            <tbody>
              <tr class="info">
                <td>Systolic</td>
                <td>120</td>
              </tr>      
              <tr class="success">
                <td>Diastolic</td>
                <td>80</td>
              </tr>
            </tbody>  
          </table>
        </div>
        <div class="modal-footer">
          <a href=""> View Details</a>
        </div>        
      </div>
      <div class="alert alert-success fade in">
        <a href class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><strong>Ey!</strong></p>
        People are looking at your profile. Find out who.
      </div>
    </div>
    <div class="col-sm-7">  
      <div class="row">
        <div class="col-sm-12">
          <div class="well profile-menu-display">
          	<div class="modal-header">
          		<a href class="close" ng-click="openEditProfile()"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
          		<span class="modal-title">Track Your Weight</span>
          	</div>
          	<div class="modal-body"> 
          		<canvas id="line" class="chart chart-line" chart-data="data"
	            chart-labels="labels" chart-series="series" chart-options="options"
	            chart-dataset-override="datasetOverride" chart-click="onClick">
	            </canvas>
          	</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" ng-click="closeModal()">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="well profile-menu-display">
            <div class="modal-header">
              <a href class="close" ng-click="openEditProfile()"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
              <span class="modal-title">Track Your Weight</span>
            </div>
            <div class="modal-body"> 
              <canvas id="line" class="chart chart-line" chart-data="data"
              chart-labels="labels" chart-series="series" chart-options="options"
              chart-dataset-override="datasetOverride" chart-click="onClick">
              </canvas>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" ng-click="closeModal()">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="well profile-menu-display">
            <div class="modal-header">
              <a href class="close" ng-click="openEditProfile()"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
              <span class="modal-title">Track Your Weight</span>
            </div>
            <div class="modal-body"> 
              <canvas id="line" class="chart chart-line" chart-data="data"
              chart-labels="labels" chart-series="series" chart-options="options"
              chart-dataset-override="datasetOverride" chart-click="onClick">
              </canvas>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" ng-click="closeModal()">Close</button>
            </div>
          </div>
        </div>
      </div>
      
         
    </div>
    <div class="col-sm-2 well profile-menu-display">
      <div class="well">
        Today's Date
        05/28/2017
      </div>     
      <div class="well">
       Your Blood Group B+
      </div>
      <div class="well">
        DOB : 09/19/1992
        AGE : 24 Years
      </div>
    </div>
  </div>
</div>

