<div class="container-fluid">
    <div class="jumbotron">
    	<div class="container signup-login-container col-xs-4 col-sm-4 col-md-3 col-lg-2">
	    	<button class="btn btn-social btn-facebook btn-sign-in" ng-click="signInWithFacebook()">
	    		<span class="fa fa-facebook"></span> Sign in with facebook
	    	</button>
	    	<button class="btn  btn-social btn-twitter btn-sign-in" >
	    		 <span class="fa fa-twitter"></span> Sign in with Twitter
	    	</button>
	    	<button class="btn  btn-social btn-google btn-sign-in" >
	    		<span class="fa fa-google"></span> Sign in with google
	    	</button>
	    	<a href="/#!/login" class="btn  btn-social btn-success btn-sign-in" >
	    		<span class="fa fa-sign-in"></span> Login page
	    	</a>
    	</div>
    	<img class="main_image" src="/assets/images/health-doc.jpg">
        <random-quotes quotes-list="quotes" ng-if="showInspirationQuote()"></random-quotes>
    </div>
    <div class="row">
        <activity-round activities-json="activities"></activity-round>
    </div>
</div>